* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body {
  background-color: #004643;
  margin: 0 4%;
  padding-bottom: 10px;
}

header,
main,
footer {
  margin: 0 0 200px;
}

h1,
h2,
h3,
h3,
h4,
a {
  color: #fffffe;
  text-shadow: 0px 4px 4px rgba(42, 0, 25, 0.25);
  font-weight: 300;
}

h5,h6{
  color: #abd1c6;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.active-page {
  color: #abd1c6;
  text-decoration: underline #abd1c6;
  text-underline-offset: 9px;
}

.header-option:hover {
  color: #abd1c6;
  text-decoration: underline #abd1c6;
  text-underline-offset: 9px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.right-header-container,
.left-header-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo-container {
  background: url("../images/icons/icon-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 125px;
  height: 125px;
}

.hamburger-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background-color: #fffffe;
  margin: 4px 0px;
}

.hamburger-container:hover > .bar1,
.hamburger-container:hover > .bar2,
.hamburger-container:hover > .bar3 {
  background-color: #abd1c6;
}

.hide{
  display: none !important;
}

@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
