.main-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.text-container{
    display: flex;
    flex-direction: column;

    gap: 40px;
}

.slide-container{
    min-width: 600px;
    min-height: 390px;
}

.slide-image-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.first{
    background: url("../../common/images/slide-images/first-image.jfif");
}

.second{
    background: url("../../common/images/slide-images/second-image.jpg");
}

.third{
    background: url("../../common/images/slide-images/third-image.jpg");
}

.fourth{
    background: url("../../common/images/slide-images/fourth-image.jpg");
}

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}