body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    border: solid 1px #132a13;
    gap: 60px;
}

.items-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.animal-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.input-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.select-container{
    justify-content: center;
}