header {
  margin-bottom: 150px;
}

.regions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 200px;
}

.select-container {
  position: relative;
  width: 200px;
  height: 36px;
}

.select-container select {
  display: none;
}

.option-container {
  border: solid 1px #132a13;
  text-align: center;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent 0.5;
}

.option-container:hover {
  color: #4f772d;
}

.options-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.hide {
  display: none;
}

.parks-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
