header {
  margin-bottom: 150px;
}

.regions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  margin-bottom: 200px;
}

select {
  width: 200px;
  height: 40px;
  background: transparent;
  text-align: center;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  color: #132a13;
}

select:hover,
select > option:hover{
  color: #4f772d;
}

select > option {
  color: #132a13;
  border:  solid 1px;
  background-color: #28292d;
}

.parks-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
