header {
  margin-bottom: 150px;
}

.regions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  margin-bottom: 200px;
}

select {
  width: 200px;
  height: 40px;
  background: transparent;
  text-align: center;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  color: #132a13;
}

select:hover,
select > option:hover {
  color: #4f772d;
  border: #4f772d 1px solid;
}

select > option {
  color: #132a13;
  border: solid 1px;
  background-color: #28292d;
}

.parks-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 100px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.park-image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 370px;
  border-radius: 10px;
  min-width: 450px;
  min-height: 320px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.park-description-text {
  max-width: 800px;
  text-align: center;
  min-width: 500px;
}

.details-btn{
  background: transparent;
  outline: 0;
  border: solid 1px #132a13;
  cursor: pointer;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 10px;
}

.details-btn:hover{
  color: #4f772d;
  border: #4f772d 1px solid;
}
